#!/bin/bash
set -e

DEMO_DATA_DIR={{getv "/services/myci/project_data_dir"}}/demoProject01
HOST_NAME={{getv "/services/gerrit/host_ip"}}
GERRIT_ADMIN_UID={{getv "/services/gerrit/admin_uid"}}
GERRIT_ADMIN_PWD={{getv "/services/gerrit/admin_password"}}
GERRIT_ADMIN_EMAIL={{getv "/services/gerrit/admin_email"}}
GERRIT_WEBURL={{getv "/services/gerrit/weburl"}}
JENKINS_WEBURL={{getv "/services/jenkins/weburl"}}
GERRIT_SSH_HOST={{getv "/services/gerrit/host_ip"}}

# Create demo project on Gerrit.
curl -X PUT --user ${GERRIT_ADMIN_UID}:${GERRIT_ADMIN_PWD} -d@- --header "Content-Type: application/json;charset=UTF-8" ${GERRIT_WEBURL}/a/projects/demo < ${DEMO_DATA_DIR}/demoProject.json

# Setup local git.
rm -rf ~/ci/demo
mkdir ~/ci/demo
git init ~/ci/demo
cd ~/ci/demo
git config core.filemode false
git config user.name  ${GERRIT_ADMIN_UID}
git config user.email ${GERRIT_ADMIN_EMAIL}
git config push.default simple
git remote add origin ssh://${GERRIT_ADMIN_UID}@${GERRIT_SSH_HOST}:29418/demo
git fetch -q origin
git fetch -q origin refs/meta/config:refs/remotes/origin/meta/config

# Setup project access right.
## Registered users can change everything since it's just a demo project.
git checkout meta/config
cp ${DEMO_DATA_DIR}/groups .
git config -f project.config --add access.refs/*.owner "group Registered Users"
git config -f project.config --add access.refs/*.read "group Registered Users"
git add groups project.config
git commit -m "Add access right to Registered Users."
git push origin meta/config:meta/config

# Import demoProject
git checkout master
tar xf ${DEMO_DATA_DIR}/demoProject.tar
git add demo
git commit -m "Init project"
git push origin

# Remove local git repository.
cd -
rm -rf ~/ci/demo

curl -X POST -d@- --header "Content-Type: application/xml;charset=UTF-8" ${JENKINS_WEBURL}/createItem?name=demo < ${DEMO_DATA_DIR}/config.xml
